<!doctype html>
<meta http-equiv="refresh" content="1" />
<html>
    <head>
        <title>PS2 Project</title>
    </head>
    <body>
        <h3>Temperature: {{global_data.temperature}}</h1>
        <h3>LED State: {{global_data.device_led_state}}</h1>
        <form method="post" action="/">
            <input type="submit" name="cloud_led_state_on" value="Turn LED ON">
            <input type="submit" name="cloud_led_state_off" value="Turn LED OFF">
        </form>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for message in global_data.message_table %}
                <tr>
                    <td>{{ message.timestamp }}</td>
                    <td>{{ message.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>