<!doctype html>
<html>
    <head>
        <title>PS2 Project</title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    </head>
    <body>
        <h3>Temperature: <span hx-get="/temperature/get" hx-trigger="load, every 1s"></span></h1>
        <h3 >LED State: <span hx-get="/device_led_state/get" hx-trigger="load, every 1s"></span></h1>
        <form method="post" action="/">
            <input type="submit" name="cloud_led_state_on" value="Turn LED ON">
            <input type="submit" name="cloud_led_state_off" value="Turn LED OFF">
            <br>
            <br>
            <input type="text" name="message_text_box">
            <input type="submit" name="message_send" value="Send Message">
        </form>
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody hx-get="/messages/get" hx-trigger="load, every 1s" hx-swap="innerHTML"></tbody>
        </table>
    </body>
</html>